- if @forecast.present?
  %section.hero.is-info
    .hero-body
      .container
        .slides
          - @forecast[:days].in_groups_of(4) do |group|
            .slide
              .columns
                - group.each do |day|
                  .column
                    - if day
                      .forecast-top
                        %h4.subtitle.is-5 #{day[:date].strftime('%A %d')}
                        %h4.subtitle.is-3 #{day[:temp_max].round}°
                        %img{src: day[:icon_url]}
                        %h4.subtitle.is-6 #{day[:condition]}
                      %h4.subtitle.is-6 #{day[:temp_min].round}° Low
