%form(action="")
  %section.hero.is-small
    .hero-body
      .container
        .field.has-addons
          .control
            %input#city.input(name="city" value=@city placeholder="Enter a city, e.g. Dublin, IE")
          .control
            %button.button.is-info(type="submit") Search
        - if @input_error
          .help.is-danger Please fill in the city
        - if @error
          .notification.is-danger= @error
