@import "bulma";

.container { max-width: 800px; }
.hero.is-small .hero-body { padding: 2rem 1.5rem; }
.forecast-top > * { margin-top: 0 !important; margin-bottom: 0 !important; }

.lSAction { display: none !important; }
